
.start {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  transition: 1s all;
 z-index: 2000;

 .show{
  top: -110vh;
}


  &.show{
    top: -110vh;
  }

  img {
    width: 30vw;
    height: auto;
    margin-top: 30px;
  }
}
